.BoardCard {
    width: 200px;
    height: 300px;
    padding: 30px;
    border: 1px solid white;
}

.boardCardButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 15px;
    row-gap: 5px;
}

@media (prefers-color-scheme: light) {
    .BoardCard {
    border: 1px solid #242424;
    }
}