:root[colorTheme='light'] {
    --border-color: #242424;
}

:root[colorTheme='dark'] {
    --border-color: white;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-top: 1px solid var(--border-color);
}