:root[colorTheme='light'] {
    --border-color: #242424;
}

:root[colorTheme='dark'] {
    --border-color: white;
}

.KudoCard {
    width: 200px;
    height: 330px;
    padding: 30px;
    border: 1px solid var(--border-color);
    border-radius: 3px;

    display: flex;
    flex-flow: column;
}

.kudoCardContent {
    margin: 5px 0 5px 0;
}

.kudoCardButtons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    column-gap: 15px;
    row-gap: 5px;
    margin-bottom: 5px;
}