#NavBar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#SearchBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 0 20px 0;
}

#Filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 60%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    margin: 0 0 10px 0;
}

@media (prefers-color-scheme: light) {
    #Filter {
        border: 1px solid #242424;
    }

    #NavBar {
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;
    }
}