:root[colorTheme='light'] {
    --border-color: #242424;
}

:root[colorTheme='dark'] {
    --border-color: white;
}

#NavBar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    margin-top: 20px;
}

#SearchBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    margin: 0 0 20px 0;
}

#Filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 60%;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 10px;
    margin: 0 0 10px 0;
}